#id1{
background-color: blue;
color: violet;
padding: 15px 32px;
text-align: center
display: inline-block:
font-size: 16px
margin: 4px 2px;
cursor: pointer;

}

html,body {
height: 100%;
width: 100%;
 background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRstO9zTbq_O8uYOUeavLBAe-L6C8esV_XO4g&usqp=CAU) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
